* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    list-style: none;
  }
  :root{
    --color1:rgba(38, 50, 56, 1);
    --color2:rgba(245, 245, 245, 1);
    --color3:rgb(255, 85, 0);
  }
  body{
    font-family: 'Poppins', sans-serif;
  }

  h1{
    margin: 0;
    color: #000;
    font-family: 'Poppins';
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }
  h2{
    color: #000;
    font-family: 'Poppins';
    font-size: 3em;
    font-style: bold;
    font-weight: 700;
    line-height: 80px;
    
    
  }
  h3{
    color: #263238;
    font-family: 'Poppins';
    font-size: 1.875em;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    
  }
  h4{
    color: #8F95A5;
    font-family: 'Poppins';
    font-size: 1,25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p{
    color: #8F95A5;
    font-family: 'Poppins';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container{
    width: 100%;
    max-width: 1600px;
    background: #FFF;
  }
.top_menu {
}
.top_inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 55px;
    
}
.top_menu_logo {
    width: 8%;
    margin: 0;
    padding-bottom: 13px;
}
.menu_inside{
    margin: 0;
    margin-right: 11px;
    margin-bottom: 9px;
}
.menu_inside ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 0;
    gap: 10%;
    white-space: nowrap;

    
}
.menu_inside ul li a{
    text-decoration: none;
    color: #263238;
    font-family: 'Poppins';
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 9px;
}
.menu_inside ul li a:hover{
    color: var(--color3);
}
.menu_btn {
    color: #000;
    font-family: 'Poppins';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 16.5%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #263238;
    cursor: pointer;
}
.menu_btn:hover{
    color: var(--color3);
    background: var(--color1);
}
.menu_btn_small{
    display: none;
}
.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-left: 130px;
    padding-right: 130px;
}
.left_learn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 158px;
    
}
.left_learn h1{
    white-space: nowrap;
    padding-top: 54px;
}
.h1_br2{
    display: none;
}
.learn_p {
    padding: 0;
    color: rgb(143, 149, 165);
font-family: 'Poppins';
font-size: 1.5em;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding-top: 40px;
padding-bottom: 61px;
}
.learn_btn {
    cursor: pointer;
    display: flex;
    margin: 0;
    width: 438px;
height: 118px;
border-radius: 15px;
background: rgb(38, 50, 56);
width: 84%;
height: 118px;
color: rgb(255, 255, 255);
font-family: 'Poppins';
font-size: 36px;
font-weight: 400;
line-height: 54px;
letter-spacing: 0%;
justify-content: center;
align-items: center;

}
.learn_btn:hover{
    color: var(--color3);
    background: var(--color2);
    
}
.itm_btn:hover{
    color: var(--color3);
    background: var(--color2);
}
.right_learn {
    margin-top: 51px;
}
.learn_img {
}
.h_o_s{
    display: none;
} 
.skills h2 {
    text-align: center;
    padding-top: 6.25%;
    padding-bottom: 6.17%;
    
}
.skills_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.25%;
    grid-row-gap: 1.25%;
    padding-left: 8.125%;
    padding-right: 8.125%;
                         
}
.skills_item {

}
.speaking_item,.writing_item, .reading_item, .listening_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color2);
    text-align: center;
    text-align: left;
    border-radius: 10px;
    
}  
.speaking_item{
    grid-area: 1 / 1 / 3 / 2;
    height: 84%;
    width: 100%;
}
.speaking_inside{
    display: flex;
    flex-direction: column;
    }
    .speaking_inside p{
        margin-bottom: 8%;
        margin-right: 10%;
    }
    .speaking_img {
        height: 99%;
        width: 94.5%;
        padding-top: 7%;
        padding-left: 4.5%;
    }
    .spk_btn{
        margin-bottom: 91px;
        width: 53%;
     }
     .speaking_item h3, .writing_item h3, .reading_item h3, .listening_item h3{
        margin-left: 9%;
     }
.writing_item{
    grid-area: 1 / 2 / 2 / 3;
}
.reading_item{
    grid-area: 1 / 3 / 2 / 4;
}
.writing_item, .reading_item, .listening_item{

    height: 100%;;
    width: 100%;
}
.writing_inside, .reading_inside{
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}
.read_p{
    padding-right: 2%;
    padding-bottom: 5%;
}
.item_img {
    
    margin: 0;
    
}
.itm_btn {
    cursor: pointer;
    height: 60px;
    width: 50%;
    background: var(--color1);
    color: #FFF;
    white-space: nowrap;
    border-radius: 5px;
    margin-left: 9%;
    font-size: 1.25em;
}

 .writing_img {
    margin-top: 6%;
    margin-left: 28%;
    height: 90%;
    width: 66.5%;
}
.writing_inside p{
    margin-right: 10%;
    margin-bottom: 4%;
}
.itm_p {
    margin-left: 9%;
}

.reading_inside p{
      padding-right: 8%;
   }
.reading_img {
    height: 100%;
    width: 84.8%;
}
.listening_item{
    grid-area: 2 / 2 / 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 343px;
    align-items: center;
}
.listening_inside{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    
}
.lis_p{
    max-width: 75%;
    margin-bottom: 10%;

}
.lis_btn{
    width: 50%;
}
.listening_img {
    
    height: auto;
    width: 93%;
    padding-left: 7%;
}
.lis_im{
    overflow: hidden;
    padding-top: 1.2%;
    padding-right: 0;
}
.about_us {
    margin-top: 6.9%;
}
.about_us_flex {
    display: flex;
    margin-left: 0.75%;
}
.about_left {
    max-width: 39%;
}
.about_left h2{
    text-align: center;
}
.about_mini{
    margin-top: 6.1%;
    margin-left: -11%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.about_title {
    margin-bottom: 3.5%;
}
.mini {
    text-align: center;
    font-size: 1.25em;
}
.about_right {
    margin-top: -2%;
    }
.abt_img {
}
.about_ghost{
    display: none;
}
.mini_iten{
    text-align: center;
}
.pricing {
    margin-top: 11.5%;
}
.pricing h2{
    text-align: center;
}
.pricing_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3.4%;
    margin-right: 12.8%;
    margin-left: 5%;
}
.pricing_block {
    max-width: 30%;
    padding: 0%;
}
.pricing_img {
    margin-bottom: 4%;
}
.pricing_h3 {
    text-align: center;
}
.pricing_p {
    white-space: wrap;
    max-width: 70%;
    font-size: 1.25em;
    text-align: left;
}
.pricing_cost {
    border-radius: 5px;
    background: rgb(238, 238, 238);
    width: 60%;
    
    white-space: nowrap;
    text-align: center;
    
}
.pricing_h4 {
    color: rgb(38, 50, 56);
    font-family: 'Poppins';
    font-size: 1.9em;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10%;
    
}
.pricing_h4 span{
    font-size: 0.6em;
}
.self_study_img{
    margin-left: 5%;
    margin-top: 0%;
}
.self_study_h3{
    margin-top: 1%;
    margin-left: 6.5%;
    white-space: nowrap;
}
.self_study_p{
    margin-top: 1%;
    margin-left: 7%;
    white-space: nowrap;
    
}
.self_study_cost{
    margin-top: 8%;
    margin-left: 8%;
}
.live_online_img{
margin-left: 16%;
margin-top: 7%;
}
.live_online_h3{
    margin-left: 4%;
    margin-top: 2%;
}
.live_online_p{
    margin-top: 2%;
    margin-left: 16%;
    white-space: nowrap;
        
}
.live_online_cost{
    margin-top: 15%;
    margin-left: 16%;
}
.personal_img{
margin-left: 27%;
margin-top: 0%;
}
.personal_h3{
    margin-top: -6.7%;
    margin-left: -8.5%;

}
.personal_p{
    white-space: nowrap;
}
.personal_cost{
    margin-top: 15.5%;
    margin-left: 12%;
}
.br_992{
    display: none;
}
.p_575{
    display: none;
}


@media screen and (max-width:1240px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.25em;
    }
    h3{
        font-size: 1.4em;
    }
    .left_learn{
        padding-right: 30px;
    }
    p{
        font-size: 0.875em; 
    }
    .skills_grid{
        padding-left: 3.4%;
       padding-right: 2.75%;
    }
    .pr_br{
        display: none;
    }
    .pricing_p{
        white-space: wrap;
    }
    .pricing_flex{
        margin: 0;
    }
    .pricing_img{
        width: 90%;
    }
    .personal_img{
        margin-left: 0;
    }
    .live_online_img{
    margin-left: 0;}
}

@media screen and (max-width:992px){
    .container{
        max-width: 992px;
    }
    .top_inside{
        padding-top: 25px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .menu_inside{
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }
    .menu_inside ul{
        gap: 8%;
        padding-top: 12px;
        padding-left: 49px;
    }
    .menu_inside ul li a{
        color: #263238;
        font-family: 'Poppins';
        font-size: 1em;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
    .top_menu_logo {
        width: 10%;
        padding-bottom: 0;
    }
    .menu_btn{
        padding-right: 4px;
        height: 50px;
        flex-shrink: 0;
        color: #000;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .learn{
        padding: 0;
    }
    .left_learn{
        padding: 0;
        padding-left: 29px;
        padding-top: 80px;
    }
    .left_learn h1{
        padding: 0;
        font-size: 3em;
        line-height: 1.35;
        
    }
    .hide_on_small{
        display: none;
    }
    .h_o_s {
        display: block;
      }
      .learn{
      align-items: flex-start;
      }
    .learn_p{
        padding: 0;
        font-size: 1.25em;
        padding-top: 26px;
        line-height: 1.5;
        padding-left: 2px;
        white-space: nowrap;
        padding-bottom: 33px;
    }
    .learn_btn{
        width: 70%;
        height: 80px;
        border-radius: 5px;
        font-size: 1.5em;
    }
    .right_learn{
        margin: 0;
        padding-top: 70px;
        padding-left: 64px;
        padding-right: 65px;
    }
    .learn_img{
        width: 111%;
    }
    .skills h2{
        padding-top: 4%;
       padding-bottom: 5%;
    }

    .speaking_item{
        height: 76.66%;
    }
    .speaking_img{
        padding-top: 0.5%;
        height: 96%;
        width: 93%; 
    }
    .speaking_inside h3{
        margin-top: -4.75%;
    }
    .speaking_inside p{
        margin-bottom: 12.5%;
        margin-right: 8%;
    }
    .itm_btn{
        width: 65%;
        font-size: 1.175em;
    }
    .writing_img{
        margin-top: 10.5%;
        margin-left: 29%;
        height: 85%;
        width: 66.5%;
    }
    .writing_inside{
        margin-top: -5%;
    }
    .writing_inside p{
        
        margin-right: 6.95%;
        margin-bottom: 4%;
    }
    .reading_img {
        margin-top: 5%;
        height: 90%;
        width: 82%; 
    }
    .listening_item{
        max-height: 230px;
    }
    .listening_inside{
        margin-top: -10%;
    }
    .lis_p{
        margin-top: -5%;
        max-width: 110%;
        margin-bottom: 5%;
      }
      .listening_img{
        
        width: 93.5%;
        height: 95%;
        padding-left: 11%;
      }
      .about_us {
        margin-top: -10.4%;
        margin-left: 2.5%;
    }
    .about_left {
        max-width: 55%;
    }
    .about_title {
        margin-bottom: 2.5%;
    }
    .mini {
        font-size: 1em;
    }
    .abt_img{
        margin-top: 3.5%;
       margin-right: 1%;
        height: 84%;
        width: 95%;
    }
    .about_mini{
        margin-top: 1.5%;
        
    }
    .about_h2{
        font-size: 1.75em;
    }
    .pricing{
        margin-top: 5.5%;
    }
    .pricing_flex{
        margin-top: 2%;
    }
    .pricing_p{
        font-size: 1em;
    }
    .pricing_h4{
        font-size:  1.5em;
        line-height: 180%;
    }
    .pricing_cost{
        width: 68%;
      }
    .self_study_img{
        width: 75%;
        margin-left: -4%;
        margin-top: -2%;
    }
    .self_study_h3{
        margin-top: -5%;
        margin-left: 4%;
    }
    .self_study_p{
        margin-top: -2%;
        margin-left: 5%;
       
    }
    .self_study_cost{
        margin-left: 6%;
    }
    .live_online_img{
        margin-left: -8%;
        margin-top: 2%;
    }
    .live_online_h3{
        margin-left: -17%;
        margin-top: 0.5%;
    }
    .live_online_p{
        margin-top: 0%;
        margin-left: 7%;
        
           }

           .live_online_cost{
            margin-top: 16%;
            margin-left: 7%;
        }
        .personal_img{
            margin-left: -11%;
            margin-top: -4%;
            width: 83%;
            }    
            .personal_h3{
                margin-top: -10%;
                margin-left: -22%;
            
            }
            .personal_p{
                margin-left: 8%;
                
                margin-top: -5%;
            }
            .personal_cost{
                margin-top: 10%;
                margin-left: 9%;
            }

}
@media screen and (max-width:883px){
    .br_992{
        display: none;
    }
    .pricing_p{
        white-space: wrap;
    }
    .pricing_h3{
        white-space: wrap;
    }
}
@media screen and (max-width:767px){
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.25em;
    }
    p{
        font-size: 0.8em; 
    }
    .container{
        max-width: 767px;
    }
    .top_inside{
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }

    .menu_inside ul{
        display: none;
    }
    .top_menu_logo {
        width: 12%;
        margin-top: 24px;
        margin-left: 10px;

    }
    .menu_btn{
        display: none;
    }
    .menu_btn_small{
        display: contents;
        margin: 0;

    }
    .sm1{
        margin-top: 9px;
        margin-left: 80%;

    }
    .sm1:hover{
        cursor: pointer;
        color: var(--color3);
    }

    .left_learn{
        padding-left: 38px;
    }
    .left_learn h1{
        font-size: 2.25em;
        line-height: 1.25;
    }
    .learn_p{
        font-size: 1em;
    }
    .learn_btn{
        padding-bottom: 5px;
        width: 71%;
        height: 65px;
        font-size: 1.1em;
    }
    .right_learn{
        padding-top: 50px;
        padding-right: 98px;
        padding-left: 25px;
    }
    .learn_img{
        width: 130%;
    }
    .skills h2{
        padding-top: 7%;
        padding-bottom: 4.5%;       
    }
    .skills_grid{
        padding-left: 4.9%;
       padding-right: 3.6%;
    }
    .speaking_item{
        height: 76%;
    }
    .speaking_img{
        padding-top: 14%;
        padding-left: 1.9%;
        height: 99%;
        width: 95%; 
    }
    .speaking_inside h3{
        margin-top: 0;
    }
    .speaking_inside p{
        margin-bottom: 21.5%;
        margin-right: 6%;
        margin-left: 7.5%;
    }
    .itm_btn{
        width: 78%;
        height: 50px;
        font-size: 1em;
        margin-left: 8%;
    }
    .writing_img {
        margin-top: 18%;
        margin-left: 1.9%;
        height: 80%;
        width: 85%;
    }
    .writing_inside h3{
        margin-left: 6%;
    }
    .writing_inside p{
        margin-right: 6%;
        margin-bottom: 4%;
    }
    .writing_inside button{
        margin-left: 6%;
    }
    .reading_img {
        margin-top: 15%;
        margin-left: 0;
        height: 76%;
        width: 100%;
    }
    .reading_inside h3{
        margin-top: -7%;
        margin-left: 6.5%;
    }
    .reading_inside p{
        padding-right: 10%;
        margin-left: 6.5%;
     }
     .listening_item{
        max-height: 217px;
    }
    .listening_inside{
        margin-top: -6%;
    }
    .listening_img{
        margin-top: 18.5%;
        width: 97%;
    }
    .about_us {
        margin-top: -20.5%;
        margin-left: 4.5%;
    }
    .about_left {
        max-width: 45%;
    }
    .about_title {
        margin-bottom: -0.5%;
    }
    .mini {
        font-size: 0.9em;
    }
    .abt_img{
        margin-top: 12%;
       margin-left: 24%;
        height: 81%;
        width: 60%;
    }
    .about_mini{
        margin-left: -5%;
        white-space: nowrap;
        margin-top: 1.5%;
        
    }
    .about_h2{
        font-size: 1.5em;
    }
    .pricing{
        margin-top: 9.5%;
    }
    .pricing_flex{
        margin-top: 5%;
    }
    .pricing_p{
        font-size: 0.85em;
    }
    .pricing_h3{
        white-space: wrap;
        text-align: left;
        line-height: 1.35em;
    }
    .pricing_cost{
        width: 89%;
      }
    .self_study_img{
        width: 83%;
    }
    .self_study_h3{
        margin-top: 5%;
        margin-left: 10%;
    }
    .self_study_p{
        margin-top: 7.5%;
        margin-left: 11%;
    }
    .self_study_cost{
        margin-left: 11%;
        margin-top: 2%;
    }
    .live_online_img{
        margin-left: 2%;
        margin-top: 6%;
        width: 96%;
    }
    .live_online_h3{
        margin-left: 20.5%;
        margin-top: 11%;
    }
    .live_online_p{
        margin-top: 7%;
        margin-left: 21%;
        white-space: wrap;
           }
           .live_online_cost{
            margin-top: 11%;
            margin-left: 5%;
        }
        .personal_img{
            margin-left: -12%;
            margin-top: -5%;
            width: 91%;
            }
            .personal_h3{
                margin-top: 0%;
                margin-left: -2%;
            
            }
            .personal_p{
                margin-left: -2%;
                margin-top: 15%;
            }
            .personal_cost{
                margin-top: 16%;
                margin-left: -2%;
            }    
}


@media screen and (max-width:575px){
    h2{
        font-size: 1.9em;
    }
    h3{
        font-size: 1.15em;
    }
    .container{
        max-width: 575px;
    }
    .menu_inside{
        margin: 0;
    }
    .top_menu_logo{
        width: 17%;
        margin-left: 0;

    }
    .sm1{
        width: 2.5em;
        height: 1.5em;
        margin-left: 71%;
        margin-top: 25px;
    }
    .learn{
        flex-direction: column-reverse; 
    }
    .left_learn{
        padding-top: 14px;
        margin: 0;
        text-align: center;
        padding-left: 0;
    }
    .left_learn h1{
       white-space: nowrap;
       padding: 0;
       font-size: 2.15em;
    }
    .h_o_s {
        display: none;
      }
    .h1_br{
        display: none;
    }
    .learn_p{
        text-align: center;
        margin: 0;
        white-space: wrap;
        padding-top: 27px;
        padding-left: 35px;
        padding-right: 34px;
        padding-bottom: 37px;
    }
    .learn_btn{
        height: 75px;
        width: 53.04347826086957%;
        align-self: center;
          }
    .right_learn{
       padding-right: 0;
       padding-top: 20px;
       padding-left: 75px;
    }
    .learn_img{
        width: 85%;
    }
    .skills h2{
        padding-top: 16.8%;
        padding-bottom: 5.9%;
        padding-left: 2%; 
    }
    .skills_grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-left: 5.5%;
        padding-right: 5.25%;
        gap: 0;
        grid-column-gap: 5%;
        grid-row-gap: 0;
    }
     .speaking_item{
        grid-area: 1 / 1 / 2 / 2;
        height: 91%;
        width: 100%;
    }
    .speaking_img{
        padding-top: 0;
        padding-left: 4%;
        height: 92%;
        width: 80%; 
    }
    .speaking_inside h3{
        margin-top: -11.5%;
        margin-left: 7.5%;
    }
    .speaking_inside p{
        margin-bottom: 10%;
    }
    .itm_btn{
        font-size: 0.9em;
        margin-left: 6.6%;
        width: 82%;
    }
    .writing_item{
        grid-area: 1 / 2 / 2 / 3;
        height: 91%;
    }
    .writing_img {
        margin-top: 10.5%;
        margin-left: 10%;
        height: 82%;
        width: 75%;
    }
    .writing_inside h3{
        margin-top: -140%;
        margin-left: 7.9%;
    }
    .writing_inside p{
        margin-right: 18%;
        margin-bottom: 37%;
    }
    .writing_inside button{
        margin-left: 7%;
    }
    .reading_item{
        grid-area: 2 / 1 / 3 / 2;
        margin-top: -9%;
        height: 91.5%;
    }
    .reading_img {
        margin-top: 13%;
        margin-left: 0;
        height: 78.5%;
        width: 80%;
    }
    .reading_inside h3{
        margin-top: 0%;
    }
    .reading_inside p{
        margin-bottom: 42%;
    }
    .reading_inside button{
        margin-bottom: 5%;
    }
    .listening_item{
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column-reverse;
        max-height: 343px;
        align-items: center;
        margin-top: -9%;
        max-height: 91.5%;
    }
    .listening_img{
        margin-top: 14.4%;
        width: 92%;
        height: 84%;
        padding-left: 5%;
    }
    .listening_inside button{
        margin-bottom: 15%;
        margin-left: 8%;
    }
    .listening_inside p{
        margin-bottom: 57%;
        margin-right: 5%;
    }
    .listening_inside h3{
        margin-bottom: 0;
    }
    .about_ghost{
        display: block;
        text-align: center;
        margin-top: 23.7%;
        margin-left: -3%;
    }
    .about_title{
        display: none;
    }
    .about_us_flex {
        flex-direction: column-reverse;
    }
    .abt_img{
        margin-top: 7%;
       margin-left: 13%;
        height: 88%;
        width: 70%;
        margin-bottom: 4%;
    }
    .about_left {
        max-width: 91%;
        margin-left: 3.2%;
    }
    .about_mini{
        margin-top: 3.2%;
    }
    .writing_inside button{
        margin-left: 7%;
        margin-bottom: 8%;
    }
    .pricing{
        margin-top: 20.5%;
    }
    .pricing_flex{
        flex-direction: column;
        margin-top: 10%;
        justify-content: center;
        align-content: center;
    }
    .pricing_h3{
        white-space: nowrap;
        text-align: center;
        line-height: 1.35em;
    }
    .pricing_block {
        max-width: 100%;
        padding: 0%;
    }
    .pricing_cost{
        width: 35.8%;
    }
    .self_study_img{
        margin-top: -1%;
        margin-left: 0%;
        width: 50%;
    }
    .pricing_h3{
        font-size: 1.5em;
        margin-top: 1%;
        margin-left: 0%;
    }
    .self_study_p{
        margin-top: 3.5%;
        margin-left: 15.5%;
        text-align: center;
    }
    .self_study_cost{
        
        margin-left: 32%;
        margin-top: 5.5%;
    }
    .live_online_img{
        margin-left: 0%;
        margin-top: 18%;
        width: 78%;
    }
    .live_online_h3{
        margin-top: 5.3%;
    }
    .live_online_p{
        text-align: center;
        margin-left: 8%;
        margin-top: 4.3%;
        white-space: nowrap;
    }
    .p_575{
        display: block;
    }
    .live_online_cost{
        margin-top: 8%;
        margin-left: 26%;
        width: 52%;
    }
    .personal_img{
        margin-left: -3%;
        margin-top: 20%;
        width: 73.5%;
        }
    .personal_h3{
        margin-top: -1.5%;
        margin-left: -4%;
            }
     .personal_p{
         margin-left: -3%;
          margin-top: 6%;
        text-align: center;
         white-space: nowrap;
        }
    .personal_cost{
        margin-top: 9%;
        margin-left: 17%;
        width: 60%;
            }  

}
    @media screen and (max-width:515px){
        .left_learn h1{
            white-space: wrap;
    }
    .p_575{
        display: none;
    }
    .personal_p{
        white-space: wrap;
    }
    .live_online_p{
        white-space: wrap;
    }
    .self_study_p{
        white-space: wrap;
    }
}
    @media screen and (max-width:320px){
        h2{
            font-size: 1.9em;
        }
        h3{
            font-size: 1.15em;
        }
       
        .container{
            max-width: 320px;
        }
        .top_inside{
            padding-top: 14px;
        }
        .top_menu_logo{
            height: 20px;
            width: 70px;
            top: 43px;
            left: 16px;
        }
        .sm1{
        margin-top: 29px;
            
        }
        .left_learn h1{
            font-size: 1.5em;
            padding-bottom: 27px;
            line-height: 1.5;
            padding-bottom: 18px;
        }
        .learn_p{
            padding: 0;
            font-size: 0.9em;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 35px;
        }
        .learn_img{
            width: 93.4375%;
        }
        .right_learn{
            padding: 42px 0 0px 11px;
        }
        .left_learn{
            padding-top: 14px;
            
        }
        .learn_btn{
            height: 60px;
            width: 90.3125%;
            font-size: 1em;
        
              }
              .h1_br2{
                display: block;
              }
              .skills h2{
                font-size: 1.45em;
                padding-top: 16%;
                padding-bottom: 9.5%;
                padding-left: 2.5%; 
            }
              .skills_grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 0%; }
        .speaking_item{
            grid-area: 1 / 1 / 2 / 2;
            height: 93%;
            width: 100%;
        }
        .speaking_img{
            padding-top: 3%;
            padding-left: 13%;
            height: 98%;
            width: 88%; 
        }
        .speaking_inside h3{
            margin-top: 2%;
            margin-left: 4%;
        }
        .speaking_inside p{
            margin-left: 4%;
            margin-bottom: 10%;
        }
        .itm_btn{
            font-size: 0.85em;
            margin-left: 4.5%;
            width: 62%;
        }
        .writing_item{
            grid-area: 2 / 1 / 3 / 2;
            height: 73%;
            margin-top: -7%;
        }
        .writing_img {
            margin-top: 13%;
            margin-left: 14%;
            height: 80%;
            width: 73%;
        }
        .writing_inside{
            margin-top: -5%;
        }
        .writing_inside h3{
            margin-top: 0%;
            margin-left: 4%;
        }
        .writing_inside p{
            margin-right: 7%;
            margin-left: 4%;
            margin-bottom: 12%;
            
        }
        .writing_inside button{
            margin-left: 4%;
            margin-bottom: 5%;
        }
        .reading_item{
            grid-area: 3 / 1 / 4 / 2;
            margin-top: -60%;
            height: 73%;
        }
        .reading_img {
            margin-top: 11%;
            margin-left: 10%;
            height: 80%;
            width: 82%;
        }
        .reading_inside h3{
            margin-top: 4.5%;
            margin-left: 4%;
        }
        .reading_inside p{
            margin-bottom: 0;
            margin-left: 4%;
        }
        .reading_inside button{
            margin-bottom: 5%;
        }
        .listening_item{
            grid-area: 4 / 1 / 5 / 2;
            margin-top: -113%;
            max-height: 73.5%;
        }
        .listening_img{
            margin-top: 12%;
            width: 93%;
            height: 74%;
            padding-left: 0%;
            margin-left: 5%;

        }
        .listening_inside{
            margin-top: 0%;

        }
        .listening_inside button{
            margin-bottom: 18%;
            margin-left: 4.5%;
        }
        .listening_inside p{
            margin-bottom: 14%;
            margin-right: 5%;
            margin-left: 4%;
        }
        .listening_inside h3{
            margin-bottom: 0;
            margin-left: 4%;
            margin-top: -10%;
        }
        .about_us{
            margin-top: -161%;
        }
        .about_ghost{
            font-size: 1.5em;
        }
        .abt_img{
            margin-top: 10%;
            margin-left: 1%;
             height: 97%;
             width: 93%;
             margin-bottom: 6%;
        }
        .about_left {
            max-width: 98%;
            margin-left: -2%;
        }
        .mini{
            font-size: 0.8em;
            letter-spacing: 0.01em;
            line-height: 1.57em;
        }
        .about_mini{
            grid-template-columns: 1fr ;
            margin-top: 2.8%;
            margin-left: 2%;
        }
        .pricing{
            margin-top: 25%;
        }
        .pricing h2{
            font-size: 1.5em;
        }
        .pricing_h4{
            font-size: 1.25em;
        }
        .pricing_h4 span{
            font-size: 0.75em;
        }
        .pricing_cost{
            width: 54%;
        }
        .self_study_h3{
            font-size: 1.125em;
            margin-top: 4%;
            margin-left: -2%;
        }
        .self_study_img{
            margin-top: 5%;
            margin-left: 5%;
            width: 78%;
        }
        .self_study_p{
           margin: 0 auto;
           text-align: center;
           width: 100%;
        }
        .self_study_cost{
            margin-top: 9%;
            margin-left: 25%;
        }
        .live_online_img{
            margin-left: 0%;
            margin-top: 20%;
            width: 85%;
        }
        .live_online_h3{
            font-size: 1.15em;
            margin-top: -1%;
        }
        .live_online_p{
            margin: 0 auto;
            text-align: center;
            width: 100%;
            margin-top: 8.5%;
        }
        .live_online_cost{
            margin-top: 9%;
            margin-left: 23%;
            width: 54%;
        }
        .personal_img{
            margin-left: -3%;
            margin-top: 23%;
            width: 75%;
            }
.personal_h3{
    font-size: 1.15em;
    margin: 0 auto;
    margin-top: -2%;
    }
.personal_p{
    margin: 0 auto;
    text-align: center;
    margin-top: 9.5%;
}
.personal_cost{
    margin-top: 5%;
    margin-left: 22%;
    width: 54%;
}