* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-size: 100%;
    list-style: none;
  }
  :root{
    --color1:rgba(38, 50, 56, 1);
    --color2:rgba(245, 245, 245, 1);
    --color3:rgb(255, 85, 0);
  }
  body{
    font-family: 'Poppins', sans-serif;
  }

  h1{
    color: #000;
    font-family: 'Poppins';
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }
  h2{
    color: #000;
    font-family: 'Poppins';
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }
  h3{
    color: #263238;
    font-family: 'Poppins';
    font-size: 1,875em;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
  }
  h4{
    color: #8F95A5;
    font-family: 'Poppins';
    font-size: 1,25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p{
    color: #8F95A5;
    font-family: 'Poppins';
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .container{
    width: 100%;
    max-width: 1600px;
    background: #FFF;
  }
.top_menu {
}
.top_inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 55px;
    
}
.top_menu_logo {
    width: 8%;
    margin: 0;
    padding-bottom: 13px;
}
.menu_inside{
    margin: 0;
    margin-right: 11px;
    margin-bottom: 9px;
}
.menu_inside ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 0;
    gap: 10%;
    white-space: nowrap;

    
}
.menu_inside ul li a{
    text-decoration: none;
    color: #263238;
    font-family: 'Poppins';
    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 9px;
}
.menu_inside ul li a:hover{
    color: var(--color3);
}
.menu_btn {
    color: #000;
    font-family: 'Poppins';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 16.5%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #263238;
    cursor: pointer;
}
.menu_btn:hover{
    color: var(--color3);
}
.menu_btn_small{
    display: none;
}
@media screen and (max-width:992px){
    .container{
        max-width: 992px;
    }
    .top_inside{
        padding-top: 25px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .menu_inside{
        margin: 0;
        padding: 0;
        margin-right: 10px;
    }
    .menu_inside ul{
        gap: 8%;
        padding-top: 12px;
        padding-left: 49px;
    }
    .menu_inside ul li a{
        color: #263238;
        font-family: 'Poppins';
        font-size: 1em;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
    .top_menu_logo {
        width: 10%;
        padding-bottom: 0;
    }
    .menu_btn{
        padding-right: 4px;
        height: 50px;
        flex-shrink: 0;
        color: #000;
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}
@media screen and (max-width:767px){
    .container{
        max-width: 767px;
    }
    .top_inside{
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }

    .menu_inside ul{
        display: none;
    }
    .top_menu_logo {
        width: 12%;
        margin-top: 24px;
        margin-left: 10px;

    }
    .menu_btn{
        display: none;
    }
    .menu_btn_small{
        display: contents;
        margin: 0;

    }
    .sm1{
        margin-top: 9px;
        margin-left: 80%;

    }
    .sm1:hover{
        cursor: pointer;
        color: var(--color3);
    }
}
@media screen and (max-width:575px){
    .container{
        max-width: 575px;
    }
    .menu_inside{
        margin: 0;
    }
    .top_menu_logo{
        width: 17%;
        margin-left: 0;

    }
    .sm1{
        width: 2.5em;
        height: 1.5em;
        margin-left: 71%;
        margin-top: 25px;
    }}
    @media screen and (max-width:320px){
        .container{
            max-width: 320px;
        }
        .top_menu_logo{
            height: 20px;
            width: 70px;
            top: 43px;
            left: 16px;
        }
        .sm1{
            height: 20px;
            width: 35px;
            left: 271px;
            top: 46px;
            
        }
    }